<div class="px-6 mx-auto grid">
            <div class="grid gap-6 mb-8 md:grid-cols-1 ">
                <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                  <div class="flex text-2xl justify-between">
                    <div>
                    <div class="font-bold text-2xl text-text-gray-500 dark:text-gray-300 mb-4">1. PANDUAN TAMPILAN DASHBOARD </div>
                    <div class="mt-4">
                        <div class="text-center text-sm font-bold">PENTING : KETIKA MENEKAN TOMBOL TOGGLE PADA MCB, MOHON TUNGGU SAMPAI ADA NOTIFIKASI BERHASIL KIRIM, LALU TEKAN "OK"</div>
                    </div>
                    <div>
                      <div class="text-center text-sm font-bold">PENTING : APABILA LISTRIK MATI SEGERA CHECK RUMAH WARGA, MATIKAN LISTRIK YANG TIDAK DIPERLUKAN HINGGA DIRASA KURANG DARI 400 WATT, LALU COBA NYALAKAN MCB YANG MATI MELALUI ALAT INI. APABILA LISTRIK MASIH MATI SETELAH DINYALAKAN, SEGERA CHECK LAGI PENGGUNAAN LISTRIK DIRUMAH</div>
                  </div>
                    <div>
                        <img src="/assets/img/panduan1.png" alt="">
                    </div>
                    <div class="container">
                        <table class="table ">
                            <thead class="text-sm text-center">
                              <tr>
                                <th scope="col">NOMER</th>
                                <th scope="col">NAMA KOMPONEN</th>
                                <th scope="col">PENJELASAN</th>
                              </tr>
                            </thead>
                            <tbody class="text-lg" style="text-align: justify;">
                              <tr>
                                <th scope="row">1</th>
                                <td>Navigasi</td>
                                <td>Untuk navigasi ke halaman lainya. di situ, terdapat navigasi komponen dashboard, notifikasi, dan buku panduan</td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Komponen Navigasi</td>
                                <td>digunakan untuk pindah halaman lainya. cara penggunaanya yaitu tekan tombol yang tedapat tulisan seperti notifikasi atau buku panduan untuk pindah halaman</td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>Gambar Notifikasi dan Dark Mode</td>
                                <td>Notifikasi: adalah berupa gambar lonceng bell, ketika ditekan akan menampilkan pemberitahuan pemakaian yang berlebihan || Dark Mode: adalah gambar bulan sabit di samping tombol lonceng, digunakan untuk merubah tampilan menjadi mode gelap</td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>Tombol Toggle Merah</td>
                                <td>digunakan untuk mematikan dan menghidupkan listrik. warna merah dan gambar silang menjelaskan bahwa listrik mati, dan warna hijau dan gambar centang menjelaskan bahwa listrik hidup. ketika ditekan tombol akan hidup atau mati.</td>
                              </tr>
                              <tr>
                                <th scope="row">5</th>
                                <td>Nilai Watt</td>
                                <td>digunakan secara langsung untuk memantau daya yang digunakan di setiap 10 rumah masing-masing. satu MCB sama dengan satu rumah. Watt pada MCB Satu tersebut menjelaskan bahwa daya pemakaian listrik pada rumah 1</td>
                              </tr>
                              <tr>
                                <th scope="row">6</th>
                                <td>Tombol Toggle Hijau</td>
                                <td>Menjelaskan bahwa listrik menyala. untuk memantikan listrik tekan tombol yang berwara hijau tersebut.</td>
                              </tr>
                              <tr>
                              <th scope="row">7</th>
                              <td>Alert</td>
                              <td>akan muncul ketika tombol MCB ditekan. dan tunggu sampai muncul Alert dan tekan "ok"</td>
                            </tr>
                            <tr>
                            <th scope="row">8</th>
                            <td>Chart atau Grafik</td>
                            <td>digunakan untuk visualisasi data pada daya MCB utama</td>
                          </tr>
                          <tr>
                        <th scope="row">9</th>
                        <td>Nilai MCB Utama</td>
                        <td>Daya yang digunakan pada MCB utama dalam satuan Watt</td>
                      </tr>
                      <tr>
                        <th scope="row">10</th>
                        <td>Zoom Grafik</td>
                        <td>Tekan tombol 1M untuk menampilkan grafik secara langsung dalam 1 Menit || 5M menampilkan grafik secara langsung dalam 5 Menit || ALL menampilkan grafik secara langsung secara keseluruhan</td>
                      </tr>
                      <tr>
                        <th scope="row">11</th>
                        <td>Horizontal Zoom Grafik</td>
                        <td>tekan dan geser ke kanan untuk menampilkan data yang kita inginkan</td>
                      </tr>
                      <tr>
                        <th scope="row">12</th>
                        <td>Scroll Bar</td>
                        <td>tekan dan geser kebawah untuk menampilkan data yang dibawah halaman</td>
                      </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid gap-6 mb-8 md:grid-cols-1">
        <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
          <div class="flex text-2xl justify-between">
            <div>
            <div class="font-bold text-xl text-text-gray-500 dark:text-gray-300">2. PANDUAN TAMPILAN NOTIFIKASI </div>
            <div class="">
                <img src="/assets/img/panduan2.png" class="mr-auto ml-auto" width="80%" alt="">
            </div>
            <div class="container mt-5">
                <table class="table">
                    <thead class="text-sm text-center">
                      <tr>
                        <th scope="col">NOMER</th>
                        <th scope="col">NAMA KOMPONEN</th>
                        <th scope="col">PENJELASAN</th>
                      </tr>
                    </thead>
                    <tbody class="text-lg">
                      <tr>
                        <th scope="row">1</th>
                        <td>Tombol Delete All</td>
                        <td>Tekan untuk Menghapus semua data notifikasi pada tabel</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Tombol Show Enteries</td>
                        <td>Tekan untuk menampilkan berapa jumlah data notifikasi yang diinginkan</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Gambar Hapus</td>
                        <td>Tekan gambar sampah warna merah untuk menghapus setiap data yang diinginkan</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>Gambar Lonceng Notifikasi</td>
                        <td>Menampilkan 5 Notifikasi Terbaru</td>
                      </tr>
                      <tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Tombol All Notification</td>
                            <td>Tekan tombol All Notification untuk berpindah halaman notifikasi dan Menampilkan Semua Notifikasi seperti pada gambar</td>
                          </tr>
                          <tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>