<header  class="z-10 bg-white shadow-md dark:bg-gray-800">
    <div
      class="flex items-center justify-between h-full px-2 mx-auto text-purple-600 dark:text-purple-300"
    >
      <!-- Mobile  -->
      <button
        class="p-1 mr-5 -ml-1 rounded-md md:hidden focus:outline-none focus:shadow-outline-purple"
        @click="toggleSideMenu"
        aria-label="Menu"
      >
        <svg
          class="w-8 h-8"
          aria-hidden="true"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>
      <!-- Search input -->
      <div class="flex justify-center flex-1 mr-32">
        <div
          class="hidden md:block relative w-full max-w-xl mr-6 focus-within:text-purple-500"
        >
          <div class="absolute inset-y-0 flex items-center pl-2">
            <svg
              class="w-4 h-4"
              aria-hidden="true"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                fill-rule="evenodd"
                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </div>
          <input
            class="w-full pl-8 pr-2 text-sm text-gray-700 placeholder-gray-600 bg-gray-100 border-0 rounded-md dark:placeholder-gray-500 dark:focus:shadow-outline-gray dark:focus:placeholder-gray-600 dark:bg-gray-700 dark:text-gray-200 focus:placeholder-gray-500 focus:bg-white focus:border-purple-300 focus:outline-none focus:shadow-outline-purple form-input"
            type="text"
            placeholder="Cari....."
            aria-label="Search"
          />
        </div>
      </div>
      <ul class="flex items-center flex-shrink-0 space-x-4">

        <!-- Profile menu -->
        <li class="flex sm:relative flex justify-center align-center flex-1 mr-32">
          <button
            class="align-middle rounded-full mt-3 focus:shadow-outline-purple focus:outline-none"
            @click="toggleProfileMenu"
            @keydown.escape="closeProfileMenu"
            aria-label="Account"
            aria-haspopup="true"
          >
            <img
              class="object-cover w-16 h-8 rounded-full"
              src="./assets/img/kades.jpg"
              alt=""
              aria-hidden="true"
            />
          </button>
          <div style="padding: -4px">
          <h1 class="ml-2 text-xl align-middle items-center pt-2">Kepala Desa</h1>
          <small class="text-gray-400 ml-2">Desa Tambolosu</small>
          </div>
        </li>
                     <!-- Notifications menu -->
        <li class="relative">
          <button
            class="relative align-middle rounded-md focus:outline-none focus:shadow-outline-purple mt-3"
            @click="toggleNotificationsMenu"
            @keydown.escape="closeNotificationsMenu"
            aria-label="Notifications"
            aria-haspopup="true"
          >
            <svg
              class="w-6 h-6"
              aria-hidden="true"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"
              ></path>
            </svg>
            <!-- Notification badge -->
            <% if(notif.length <= 0){ %>
            <span
              aria-hidden="true"
              class="absolute top-0 right-0 inline-block w-3 h-3 transform translate-x-1 -translate-y-1 bg-red-600 border-2 border-white rounded-full dark:border-gray-800"
            ></span>
            <% } %>
            <% if(notif.length > 0){ %>
            <span
            aria-hidden="true"
            class="absolute top-0 right-2 inline-block w-6 h-6 transform translate-x-1 -translate-y-1 bg-red-600 border-2 border-white rounded-full dark:border-gray-800"
            ><small style="color:white; margin-bottom: 15px;"><%= notif.length %></small></span>
            <% } %>
          </button>
          <template x-if="isNotificationsMenuOpen">
            <ul
              x-transition:leave="transition ease-in duration-150"
              x-transition:leave-start="opacity-100"
              x-transition:leave-end="opacity-0"
              @click.away="closeNotificationsMenu"
              @keydown.escape="closeNotificationsMenu"
              class="absolute right-0 w-56 p-2 mt-2 space-y-2 text-gray-600 bg-white border border-gray-100 rounded-md shadow-md dark:text-gray-300 dark:border-gray-700 dark:bg-gray-700"
            >
            <% notif.slice(notif.length - 5).forEach(data => { %>
            <li class="mb-4
            justify-between w-full px-2 py-1 text-sm transition-colors duration-150 rounded-md
            "><div class="rounded font-bold"><%= data.status %></div><small class="text-gray-100"> <%= new Date(data.tanggal).toLocaleString('id-ID',{month:'long', year:'numeric', day:'numeric'}) %></small> </li>
            <% }) %>
              <li class="flex">
                <a
                class="inline-flex items-center justify-center text-center w-full px-2 py-1 text-sm font-semibold transition-colors duration-150 rounded-md hover:bg-gray-100 hover:text-gray-800
                bg-gray-100 text-gray-800  dark:hover:bg-gray-800 dark:hover:text-gray-200"
                href="/notification"
              >
                <span>All notification  <i class="fa fa-arrow-right"></i>
                </a></span>
              </li>
            </ul>
          </template>
        </li>
                <!-- Theme toggler -->
                <li class="flex">
                  <button
                    class="rounded-md md:block focus:outline-none focus:shadow-outline-purple mt-3"
                    @click="toggleTheme"
                    aria-label="Toggle color mode"
                  >
                    <template x-if="!dark">
                      <svg
                        class="w-6 h-6"
                        aria-hidden="true"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                      >
                        <path
                          d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
                        ></path>
                      </svg>
                    </template>
                    <template x-if="dark">
                      <svg
                        class="w-8 h-8"
                        aria-hidden="true"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                          clip-rule="evenodd"
                        ></path>
                      </svg>
                    </template>
                  </button>
                </li>
                        
        <li class="relative">
            <a
                  class="inline-flex hidden md:block items-center w-full px-2 py-1 text-sm font-semibold transition-colors duration-150 rounded-md hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200"
                  href="#"
                >
                </a>
        </li>
        </li>
      </ul>
    </div>
  </header>
